/* экспериментальный блюр блоков, включался в редакторе тем */
// не используем так как ломается большая часть других стилей

.VideoLayout__aside,
.VideoSearchInput .ui_search_input_block,
.vkuiGroup--card > .vkuiGroup__inner,
.EcommSkeleton__block,
.ClassifiedsCatalogCategoryMenu__list,
.MarketItemsMapCategoryMenu__list,
.CatalogPage__blocksMenu--notStacked,
.ClassifiedsCatalogBlockList,
.DonutCatalogPromo,
.ClassifiedsSearchResult,
.ClassifiedsGroupSection__root,
.ClassifiedsGroupProductsCategoryView,
.ClassifiedsGroupProductsCategoryPreview,
.ClassifiedsGroupProductsCategories__headContainer,
.ClassifiedsGroupProductsCategoryProductsPage__headContainer,
.ShortVideoPage__container--empty,
.ShortVideoPost,
.FCPanel__list,
.GamesCatalogProfileBlock,
.TopConvoListWrapper,
.ts_cont_wrap,
#top_profile_menu.shown,
.page_block,
.PageBlock,
#content .audio_page_player2,
.cookies_policy_wrap,
.tt .tt_text,
.ui_search.ui_search_fixed,
.stl_active.over_fast #stl_bg,
#layer_stl_bg,
#dev_page_wrap1,
.dev_page_block,
#dev_left_nav,
#dev_top_nav_wrap,
.wdd_list,
.idd_popup,
.page_status_editor .editor,
.result_list,
.emoji_tt_wrap,
.sticker_hints_tt,
.tt_default,
.page_actions_wrap,
.ms_items_more,
.ui_actions_menu,
.ActionsMenu__inner,
.notifier_baloon,
.Header,
.share_head,
.landing_transparencyHeader,
.wall_module .wl_reply_form_fixed .reply_box,
.wall_module .wl_reply_form_fixed .reply_fakebox_wrap,
.wl_reply_form_fixed .ReplyBoxDonut,
.ReplyBoxDonut.fixed,
.im-dropbox,
.TemplatesDropDown__container,
.article_ed_layer__header,
.article_layer__tts_player,
.article_layer__content_footer--fix,
.photos_upload_area_drop,
.photos_choose_upload_area_cont.fixed,
.photos_choose_bottom.fixed,
.video_choosebox_bottom.fixed,
#wk_content,
#wl_reply_form_inner,
.page_block,
.side_bar_inner,
.page_header_cont,
#top_notify_wrap,
.eltt,
.tt_w,
.box_layout,
.ui_actions_menu,
.sticker_hints_tt,
.emoji_block_cont,
.sticker_hints_arrow,
.RightMenuBlock,
.im-aside-notice,
.PeerProfile,
.FCPanel__add,
.FCThumb,
.FCWindow,
._audio_pl,
.CatalogSection__friends_updates,
.vkuiModalPage__in,
.CatalogBlock,
div[class*='Ecosystem'][class*='popout'],
.vkuiPopper,
.vkuiDropdown {
	-webkit-backdrop-filter: blur(var(--vknBlurRadius)) !important;
	backdrop-filter: blur(var(--vknBlurRadius)) !important;
}

.CatalogSection__friends_updates .CatalogBlock {
	-webkit-backdrop-filter: none !important;
	backdrop-filter: none !important;
}
