.im-mess_reactions {
	.MessageReactionsPanel__reaction img,
	.MessageReactions__icon img {
		width: auto;
	}

	.MessageReactionsPanel__reaction img {
		height: 23px;
	}

	.MessageReactions__icon img {
		height: 18px;
		padding: 2px;
	}
}

.MessageReactions[data-id="16"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="16"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f8e89.png");
}

.MessageReactions[data-id="15"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="15"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f988d.png");
}

.MessageReactions[data-id="14"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="14"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f9898.png");
}

.MessageReactions[data-id="13"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="13"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f998f.png");
}

.MessageReactions[data-id="12"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="12"] img {
	content: url("https://vknext.net/emoji/images/apple/f09fa494.png");
}

.MessageReactions[data-id="11"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="11"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f9884.png");
}

.MessageReactions[data-id="10"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="10"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f918c.png");
}

.MessageReactions[data-id="9"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="9"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f918e.png");
}

.MessageReactions[data-id="8"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="8"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f98a1.png");
}

.MessageReactions[data-id="7"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="7"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f98ad.png");
}

.MessageReactions[data-id="6"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="6"] img {
	content: url("https://vknext.net/emoji/images/apple/e28189.png");
}

.MessageReactions[data-id="5"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="5"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f92a9.png");
}

.MessageReactions[data-id="4"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="4"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f918d.png");
}

.MessageReactions[data-id="3"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="3"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f9882.png");
}

.MessageReactions[data-id="2"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="2"] img {
	content: url("https://vknext.net/emoji/images/apple/f09f94a5.png");
}

.MessageReactions[data-id="1"] .MessageReactions__icon img,
.MessageReactionsPanel__reaction[data-id="1"] img {
	content: url("https://vknext.net/emoji/images/apple/e29da4.png");
}
