/*текст*/
.im-mess-stack--lnk, /*автор сообщения*/
._im_ui_peers_list .ui_rmenu_item_label, /*список чатов справа в классическом мессенджере*/
._im_page_peer_name, /*заголовок чата*/
.nim-dialog--name, /*название диалога в списке*/
.im-page-pinned--name, /*закреп имя автора*/
.im-replied--author /*автор реплая*/,
.post_author .author, .wall_module .author, .wall_module .copy_author,
.PostHeaderTitle__authorName,
.ConvoTitle,
.PeerTitle,
.Reply__authorLink,
.ConvoPinnedMessage__authorLink,
.ConvoListItem__author,
.friends_field_title,
.im-fwd--title-name,
.nim-dialog--who,
._im_typing_name,
.mem_link,
.reply_parent_link,
.Link > span,
.Entity__photo,
.ConvoProfileName__name,
.ProfileGroupHorizontalCells a,
.ProfileSubscriptions__items a,
.replies_short_text_author_name,
.ProfileInfo > h2,
.Reply__author,
.ForwardedMessage__link,
.friends_find_user_name,
div[class^="UserRichCell-module__name--"] > a,
.labeled.name > a,
.stories_feed_preview_author_name,
div[class^="EcosystemAccountMenuUser_name"],
.page_name,
.people_cell_name > a,
.group_friends_photos_text,
.group_name,
.group_row_title,
.blst_mem ,
.bp_author,
[hrefparams="_ref=friends_right"] .vkuiSimpleCell__middle,
.audio_pl_snippet__artist_link[href^="/audios"],
.audio_friend_name,
.ow_ava,
.VideoCard__ownerLink,
[class^="VideoCardOwnerItem-module__link"],
[class^="CommentBase-module__nameWrapper"] > a,
a[href^="/clips/"] .vkuiRichCell__children,
#react_rootEcosystemMultiAccountsEntry .vkuiSimpleCell__content > .vkuiTypography,
.im_srv_lnk,
.nim-dialog--preview > span[class=""],
.EditableLabel__text,
li[id^="l_mgid"] [class^="LeftMenuItem-module__label"] {
	filter: blur(5px) !important;
}

.EditableLabel {
	pointer-events: none !important;
}

/*фото*/
.nim-peer--photo-w img, /*ава участника чата*/
.nim-peer img /*тоже ава участника чата но со значком онлайна*/,
.im-prebody img,
.AvatarRich__img,
.MEAvatar__img,
.post_img,
.AvatarSimple__img,
.BasicAvatar__img,
.vkuiImageBase__img,
.post_field_user_image,
.stories_feed_preview_author_cell,
.TopNavBtn__profileImg,
.blst_img,
.bp_img {
	filter: blur(10px) grayscale(1) !important;
}
