.OwnerPageAvatar--nft .OwnerPageAvatar__underlay:not(.OwnerPageAvatar__underlay--outlined) {
	top: calc(var(--stroke-width, 4px) * -1) !important;
	bottom: calc(var(--stroke-width, 4px) * -1) !important;
	left: calc(var(--stroke-width, 4px) * -1) !important;
	right: calc(var(--stroke-width, 4px) * -1) !important;
}

.OwnerPageAvatar--nft .OwnerPageAvatar__underlay,
.AvatarRich--nft .AvatarRich__img,
.OwnerPageAvatar--nft .vkuiImageBase__img {
	clip-path: none !important;
	-webkit-clip-path: none !important;
	border-radius: 50% !important;
}


.OwnerPageAvatar--nft .vkuiAvatar svg,
.AvatarRich__heptagonUnderlay {
	display: none !important;
}
