:root {
	--round_radius: 12px;
	--VKNcm-br-m: var(--round_radius) !important;
}

body {
	--vkui--size_border_radius_paper--regular: var(--round_radius) !important;
}

.thumbed_link.page_media_wrap,
.BoxModal {
	border-radius: calc(var(--round_radius) + 5px) !important;
}

.im-page_classic .im-page--chat-header,
.im-page_classic .im-page--header,
.bt_comment_form_text,
.ape_search .ui_search_input_block,
#friends_search_input_wrap .ui_search_input_block,
.docs_choose_search .ui_search_input_block,
.bt_page .ui_search_input_block {
	border-radius: 0 !important;
}

/*костыль для создания беседы*/
.im-create--tabs {
	background-color: transparent !important;
}

/*костыль для обложек треков (фиксит белые углы на ТТ)*/
.audio_row__cover[style^="background"] {
	background-color: transparent !important;
}

/*костыль для углов миниаппов*/
.app_container--vk-app {
	background: transparent !important;
}

.audio_search .ui_search_input_block,
.like_share_text,
.cal_table,
.im-create.im-create_chat,
.photos_photo_edit_row,
.StickerProductsGift__messageInput,
.im-create.im-create_classic .im-create--table,
#faq_search_form,
.AppsCatalogSelectMenu,
.bordered-thumb::after,
.bordered-thumb,
.RecommendedNarrativesBlockItem__background::after,
.RecommendedNarrativesBlockItem__background,
.ape_pl_input,
.video_thumb_video,
.video_external_link,
#stickerWord,
._sticker_hints,
.videocat_live_icon,
.video_box_wrap,
.photos_edit_actions,
#current_info .my_current_info,
#profile_groups_link,
#submit_post_box,
#vkwidget2,
#wk_box,
#wk_content,
.BaseModal__content,
.Button--secondary,
.Button--size-m:not(.Button--link),
.Button--size-s,
.Call,
.CallsDropdown,
.CatalogBlock::before,
.CatalogBlock:not(:first-of-type),
.CatalogSection:not(.CatalogSection__user_playlists):not(.CatalogSection__my):not(.CatalogSection__friends_updates):not(
		.CatalogSection__artist
	):not(.CatalogSection__user_list),
.ChatSettings,
.DonutCatalogPromo,
.GamesCatalog--downloaded_games > * > * > .ui_tabs,
.GamesCatalog--profile > * > * > .ui_tabs,
.GamesCatalogHead:not(.GamesCatalog--search_page),
.HeaderProfile__Dropdown,
.MarketCatalogCategoryMenu__list,
.MarketCatalogFilter__container,
.MarketCatalogHeader,
.MarketCatalogTabs.MarketCatalogTabs--notStacked,
.MarketCatalogLocationTooltip--visible,
.MessageKeyboard__button,
.MusicAuthor_block:after,
.MusicAuthor_block__cover,
.Participant__status,
.Participant::after,
.PageBlock:not(:first-of-type):not(.MarketCatalogBlockBanner):not(.MarketCatalogBlockList),
.PhotoCarouselImage,
.PostCopyrightBox__input,
.ShortVideoPost,
.ShortVideoStub__link,
.ShortVideoStub__qrLink,
.Tooltip__in,
.abx_comment,
.ads_edit_link_type_card,
.ap_layer__content,
.ape_cover,
.ape_list_header,
.apps_main:not(.apps_main_with_footer),
.apps_catalog_row_img_img,
.article_snippet,
#content > .audio_page_layout > .audio_page_player_wrap,
.audio_pl_snippet2,
.audio_promo,
.audio_promo__items,
.audio_row_content,
.box_no_title.box_no_buttons,
.button_blue > button,
.emoji_tt_wrap,
.flat_button:not(#ui_trends_load_more):not(.ui_load_more_btn):not(.profile_btn_cut_left):not(.profile_btn_cut_right),
.FlatButton,
.friend_recomm_card,
.gift_cell .gift_img,
.gift_free,
.groups_menu_item_image::after,
.groups_menu_item_image_content,
.groups_row.short .img a .search_item_img,
.group_apps_list_row_img_img,
.im-chat-input--text,
.im-chat-input--txt-wrap,
.im-gift--img,
.im-mess--call-snippet,
.im-mess_failed,
.im-mess_gift,
.im-mess_light,
.im-mess_selected,
.im-page--dialogs,
.im-page--history,
.im-page--center-empty,
.im_sticker_bl,
.im_sticker_bl_demo_background,
.im_sticker_bl_demo_thumb,
.im_stickers_store_wrap,
.landings-expired-messages__more,
[class^="LeftMenuItem-module__item--"],
.like_share_code,
.like_share_widget_input,
.like_share_widget_width,
.market_edit_item_box * #item_price,
.market_edit_item_box > *,
.market_ei_photo_add,
.market_ei_photos * .market_ei_main_photo,
.medadd_c_linkcon,
.medadd_poll_answer,
.medadd_poll_answer_add,
.medadd_poll_question,
.media_link,
.ms_items_more,
.msg,
#mv_comments_header,
#mv_box,
.notifier_baloon,
.nim-dialog--inner-text,
.page_actions_wrap,
.page_album_thumb_wrap,
.page_album_title,
.page_avatar,
.page_media_place_img_wrap,
.page_post_thumb_unsized,
.page_post_thumb_wrap:not(.page_post_thumb_short_video),
.page_square_photo,
.page_status_editor .editor,
.page_status_input,
.page_top #inner_status,
.page_video_thumb,
.payments_money_transfer_link_copy_input,
.photos_album_thumb,
.photos_choose_row,
.photos_row,
.pretty-card,
.pretty-card_placeholder_yes,
.post_from_tt_row,
.poster-uploader__view .poster .poster__image,
.profile_more_info_link,
.profile_msg_side_only #profile_send_gift_btn .profile_btn_cut_right,
.pv_box,
.pv_comments_header,
.search_filters_minimized:not(.ui_rmenu_item_expanded),
.submit_post_field,
.thumbed_link--market,
.token,
.ts_cont_wrap,
.tt_w,
.ui_actions_menu,
.ui_search_sugg_list,
.video_item_thumb,
.video_item_thumb_wrap,
.selector_container > table,
.Select,
.Select > .Select__control,
.error,
.StickerStylesMenuItem__add,
.StickerStylesMenuItem__gift,
.text,
img.preview,
.VideoPreview__thumb,
.thumb_doc_wrap .draggable_thumb,
#payments_box,
.ProfileEditorVkconnect__notice,
.pedit_content > * > * > *,
.GoalsListItem,
.GoalRecommendations,
.group_edit > * > * > *:not(.group_edit_field):not(.group_edit_invite_link_row),
.group_edit_field > *,
#group_edit_obscene_stopwords,
.DonutGroupCopyLink,
.selected_items .token .token_inner,
.im-mess_fav,
.wdd_add2,
.wdd.clear_fix.wdd_no_sub:not(.wdd_focused),
.medadd_c_linkimg_big,
.GoalsFilterList__item,
.ui_search_fltr,
[dir] .MiniAppsSnippet::after,
[dir] .vk_mini_app_preview .medadd_c_linkcon::before,
[dir] .vk_mini_app_preview .medadd_c_linkcon:not(.medadd_c_linkimg_big)::before,
[dir] .vk_mini_app_preview .medadd_c_linkimg_big .medadd_c_linkimg_container::before,
[dir] .payments_getvotes_ps_row:hover,
[dir] .payments_getvotes_ps_row.payments_getvotes_active_row,
.GridStoryPreview__inner,
.GridStoryPreview,
.MetaStory__rec-items,
.side_bar_inner,
.MassMentionWarning,
#mail_box_editable,
.draggable_thumb,
[dir] .im_msg_audiomsg .audio-msg-track:not(.audio-msg-player):hover,
.PhotoTagCard,
[dir] .audio_page__shuffle_all .audio_page__shuffle_all_button:hover,
.ui_search_input_block:not(.market_search_wrap),
.result_list,
.MarketCatalogPhoto__img,
.MarketCatalogPriceRangeField__priceField,
.MarketServiceMigrateInitStep,
.market_album_photo,
.MarketItemsList__itemExtraPhoto,
.ui_search_fltr_short_field,
.Input,
.MarketServiceCreateDescription__textarea,
.MarketServiceCreatePhotos__photo,
.MarketServiceCreateAddress__dropDown:not(.wdd_focused),
.Select__menu,
.BotCarousel__slide,
.audio_shuffle_all_button:hover,
.MarketCatalogBlocks,
.MarketCatalogProduct__imgWrap,
.dev_page_block,
.apps_edit_nav_img,
#apps_edit_catalog_photo,
#apps_edit_photo,
.apps_edit_input_borderless,
.app_info_msg,
.popup_box_container,
.MusicAuthor_block,
.MusicAuthorSnippet__info,
.MusicAuthorSnippet_small,
.thumbed_link--group-invitation > .thumbed_link__thumb,
.round_tab,
.Dropdown__in,
.Dropdown,
.wall_card,
.PageBlock.Intro,
.groups_create_box_input,
.datepicker_control,
.side_bar_inner,
.ui_filters_block,
#company,
#position,
.im-money-request-snippet,
.im-group-online--inner,
.short_video_item,
.wall_tt_link_img,
.market_comments_header,
.market_item_bigph,
.market_item_thumb.market_item_thumb_active,
.wall_tt_link_img,
.market_item_photo,
.market_order_row,
.market_shop_item_actions,
.audio_pl_attach_preview,
.tickets_suggests_wrap,
.tickets_suggest,
.market_shop_item_action._plus,
.market_shop_item_action._minus,
.market_item_out_of_stock,
.reply_thumb_img,
.page_gif_large video,
.market_tr_row,
.audio_page_player__cover ._audio_page_player__cover,
.group_info_map,
.NarrativeSnippet--base,
.wke_b,
blockquote,
.pages_history_select_version,
.pages_history_row,
.tag_frame_handle.ne,
.tag_frame_handle.se,
.MarketServiceCreatePhotos__photoDeleteButton,
.CheckBox__indicator,
.market_row_controls,
.market_item_thumb,
.checkbox.on.fl_l._messages_enabled_chats,
.MarketItemsList__itemPhoto,
.page_market_item_narrow_img,
.page_doc_icon,
.page_cover_action,
.StoryArchivePreview__wrapper,
.StoryArchivePreview__linkBtn,
.ymaps,
#ymaps,
.places_mapped_point,
.VideoRecomsItem__thumb,
.emoji_status_wrap,
.group_messages_notify_block,
.im-aside-promo,
.market_row,
.market_item_in_cart,
.medadd_c_linkhead,
.page_media_link_url,
.medadd_c_linkimg_controls_btn_group,
.idd_popup,
.idd_items_content,
.group_api_url_desc,
.result_list_scrollable,
.StickersPanel__preview,
.back,
.FiltersItem__image,
.photos_album_no_cover,
.photos_edit_input,
.MarketItemsList__itemPhotoWrap,
.limited_height,
.ShortVideoTagListItem__photo,
.ShortVideoPage__container--empty,
.GamesCatalogFullWidthBanner,
.GamesCatalogCard__image,
.page_post_thumb_short_video_cover,
.page_post_thumb_short_video_blur,
.page_post_video_play_inline,
.tu_last,
.tickets_input_text,
.msg_multiline,
._controls_offset,
.videoplayer_action_button,
.settings_app_password_name,
[dir] .MarketItemsList__itemPhotoWrap::after,
[dir] .MarketItemsList__itemPlaceholderWrap::after,
[dir] .MarketItemsList__itemPhotoWrap,
.bookmark_tag,
.video_thumb_label,
.VideoPlaylistItem__thumbWrap,
.js-video_tc_upload_btn,
.js-video_tc_item,
.videocat_featured_0,
.videocat_featured_1,
.videocat_featured_2,
.video_thumb_label_live_icon,
.chat_tab_wrap,
.chat_tab_icon,
.fc_editable,
.popup_box_container,
.EditableLabel:hover .EditableLabel__text,
.audio_row__cover,
.ReportFormSnippet__attachmentPreview--default,
.ReportFormSnippet--content,
.BannerItem__image,
.BannerItem--viewType-slider,
.media_voting_can_vote,
.page_poll_export_code,
._item_thumb,
.videoplayer_autoplay_timer,
.CallOrator__participant,
.CallSettings__camera,
.BlurredBackground.Participant__main,
.CallGridNew__item,
.CallHeader__hands,
.Participant__handIndicator,
.article_snippet,
.article_snippet__image_wrap,
.article_snippet__fade,
.im-page--error,
.TextliveSnippet__in,
.audio_row__cover_icon,
._audio_row__cover_icon,
#like_share_text,
.info_msg,
.TemplatesDropDown__item:hover,
.page_doc_photo,
.app_widget_image,
.app_widget_list_cover_gradient,
.VideoCard__label,
.video_thumb_actions,
.MenuList__item,
.MenuList__item--hideCollapsedBadge,
.MenuList__item--expandable,
.MenuList__item--active,
.VideoActions__item--horizontal,
.VideoLayout__toggle,
.video_item_controls,
.VideoActions__item--vertical,
.page_post_thumb_short_video,
.market_cart_row_img > a > img,
.bt_tag_label,
.BugreportCommentMeta__content,
.bt_report_footer,
.bt_member_activity_item_inner,
.bt_member_activity_item_container,
.bt_achievement_short,
.BugreportComment__inLinkGo,
.BugreportComment__inLink,
.bt_reporter_achievements_progress__bar_total,
.ClassifiedsCatalogHeader {
	border-radius: var(--round_radius) !important;
}

#wall_tabs > *,
.AppsCatalogHeader,
.GamesCatalogProfileBlock__header,
.MarketCatalogBreadcrumbs,
.MarketCatalogTabs:not(.MarketCatalogTabs--notStacked),
.ModalHeader,
.PageBlock__header,
.PeerProfile,
.PopupHeader,
.StickerPackPreview__header,
.apps_main.apps_main_with_footer,
.audio_page_player_wrap,
.box_no_title,
.box_title_wrap,
.graffiti_wrap,
.im-page--chat-header,
.im-page--dialogs-search,
.im-page--header,
.im-page--search-header,
.im-page--toolsw,
.media_link__media,
.page_block_h2,
.page_block_header,
.page_cover,
.payments_money_transfer_amount_wrap,
.post_top_info_ads_group_members,
.poster__image-wrapper,
.search_filters_minimized.ui_rmenu_item_expanded,
.ui_search:not(.olist_filter_wrap):not(._im_dialogs_search),
.ui_tabs,
.ui_tabs_box,
.ui_tabs_header,
.wall_card__photo,
.wk_history_tabs,
.payments_box_summary,
.medadd_c_linkimg_container,
.wdd.clear_fix.wdd_no_sub.wdd_focused,
.MarketServiceCreateAddress__dropDown.wdd_focused,
.app_edit_block_header,
.apps_edit_nav_header,
.im-page_classic .im-page--chat-header-in,
.photos_photo_edit_row_thumb,
.im-create--tabs > .page_block_h2 > .ui_tabs,
.idd_header_wrap,
.photos_photo_edit_row_thumb_dim,
.im-page--dialogs-search .ui_search_input_block,
.ui_tab_search_wrap .ui_search .ui_search_input_block,
.ClassifiedsCatalogTabs {
	border-radius: var(--round_radius) var(--round_radius) 0 0 !important;
}

[dir] .media_link--sized .media_link__media::after,
[dir] .media_link--video .media_link__media::after {
	box-shadow: none;
	border-radius: var(--round_radius) var(--round_radius) 0 0 !important;
	border: 1px solid var(--snippet_border);
}

.AudioPlaylistSnippet,
.CatalogBlock:first-of-type,
.ChatSettings__content,
.GamesCatalogProfileBlock__content,
.GamesCatalogSearchMainContent,
.MarketCatalogBlockMyProducts,
.MarketCatalogHeader--fixed,
.StickerPackPreview__footer,
.StickerPackSettings__footer,
.StickerProductsGift__footer,
.apps_options_bar,
.audio_page_player_fixed,
.box_controls,
.box_no_buttons,
.emoji_tabs,
.flat_button#ui_trends_load_more,
.flat_button.ui_load_more_btn,
.group_page_block_footer,
.im-chat-input,
.im-create,
.im-create--footer,
.im-page--dcontent.ui_scroll_hidden ~ .im-page--dialogs-footer,
.mail_box_cont,
.media_link__label,
.mv_info,
.owner_photo_additional,
.owner_photo_bubble_wrap,
.payments_money_transfer_comment,
.photos_album_title_wrap,
.popup_box_container,
.settings_block_footer,
.submit_post_box,
.tickets_thank_you_form,
.top_notify_show_all,
.ui_filters_block,
.ui_scroll_overflow,
#page_wall_posts > div:first-of-type,
#page_suggested_posts > div:first-of-type,
.wdd_list,
.ModalFooter,
.MarketServiceCreateSubmit,
.apps_edit_info_wrap,
.apps_edit_retina_info,
.CatalogSection__artist,
.dev_nav.apps_edit,
#feed_rows > div:first-of-type > .post_photos,
.search_results,
.SubmitArea,
.ChatSettingsMembers,
.photos_photo_edit_row_desc_placeholder,
.photos_photo_edit_row_desc_cont,
.GiftsStickerPackPreviewTooltip__button,
[dir] .im-audio-message-input.im-chat-input_classic,
.tickets_post_field,
.gifts_options_wrap,
.settings_app_password_controls,
.payments_money_transfer_comment.dark,
.mention_tt_actions,
.ClassifiedsCatalogBlockList {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.podcast_snippet__content,
.profile_msg_split .profile_btn_cut_right,
.pv_narrow_column_wrap,
.thumbed_link__label,
.ui_search_button_search,
.MiniAppsSnippetFields,
.piechart_col_header_second,
.pv_cont .narrow_column,
.PhotoEditor__tabs,
.FlatButton--cutLeft {
	border-radius: 0 var(--round_radius) var(--round_radius) 0 !important;
}

.ads_edit_link_type_card_image_wrapper,
.ui_search_input_inner,
.flat_button.profile_btn_cut_left,
.thumbed_link__thumb,
.podcast_snippet__cover,
.podcast_snippet__cover:before,
.MiniAppsSnippetCover,
.reply_text > * > * > * > * > .audio_pl_snippet__cover.audio_pl__cover,
.piechart_col_header_first {
	border-radius: var(--round_radius) 0 0 var(--round_radius) !important;
}

.audio_pl_snippet__cover,
.im-page--back-btn,
.box_title .back,
.audio_pl_snippet_small > * > * > .audio_pl__cover,
.piechart_col_header_first,
.audio_pl_attach_preview__cover,
.FlatButton--cutRight {
	border-radius: var(--round_radius) 0 0 var(--round_radius) !important;
}

.audio_pl_snippet__cover,
.im-page--back-btn,
.box_title .back,
.audio_pl_snippet_small > * > * > .audio_pl__cover,
.audio_pl_snippet__button_play,
.audio_pl_snippet__button_play:hover {
	border-radius: var(--round_radius) 0 0 0 !important;
}

.ui_thumb_x_button,
.mv_playlist,
.EditorTabs__header,
.pv_cont .pv_author_block,
#pv_narrow > .ui_scroll_overflow {
	border-radius: 0 var(--round_radius) 0 0 !important;
}

.ads_edit_link_type_card_new::after,
.GamesCatalogSearchInput .ui_search_input_block,
.ui_search.video_search_input .ui_search_input_block,
.gift_price,
.graph_menu_item_sel,
.graph_menu_item:hover,
.groups_list_search .ui_search_input_block,
#group_u_search_input_wrap .ui_search .ui_search_input_block,
.MarketCatalogSearchInput,
.pg_fixed_back,
.summary_tab2,
.video_thumb_label {
	border-radius: calc(var(--round_radius) - 2px) !important;
}

.AppsCatalogSearchInput__input {
	border-radius: calc(var(--round_radius) - 2px) 0 0 calc(var(--round_radius) - 2px) !important;
}

.AppsCatalogSearchInput__searchControl {
	border-radius: 0 calc(var(--round_radius) - 2px) calc(var(--round_radius) - 2px) 0 !important;
}

.im-page--dialogs-search .ui_search_input_block,
.ui_tab_search_wrap .ui_search .ui_search_input_block {
	border-radius: var(--round_radius) var(--round_radius) 0 0 !important;
}

.AppsCatalogSearchInput__input {
	border-radius: calc(var(--round_radius) - 2px) 0 0 calc(var(--round_radius) - 2px) !important;
}

.AppsCatalogSearchInput__searchControl {
	border-radius: 0 calc(var(--round_radius) - 2px) calc(var(--round_radius) - 2px) 0 !important;
}

.im-mess_selected::before,
.im-mess_out::before,
.im-mess::before {
	display: none !important;
}

.im-mess-stack--mess > .im-mess_unread {
	border-top-left-radius: var(--round_radius) !important;
	border-top-right-radius: var(--round_radius) !important;
}

.im-mess-stack--mess > .im-mess_unread ~ .im-mess_unread:not(.im-mess_selected) {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.im-mess-stack--mess > .im-mess_unread:nth-last-child(1) {
	border-bottom-left-radius: var(--round_radius) !important;
	border-bottom-right-radius: var(--round_radius) !important;
}

.apps_edit_embedded_control_container {
	/*фиксит незакругляемую обводку в легаси-инпутах в настройках приложения*/
	border: none !important;
}

/*закругление шапки и футера классического интерфейса сообщений*/

/*before красит низ в цвет страницы, дабы спрятать углы
но к хедерам(или к родителям хедера) где-то применена transform
что ломает z-index на хедерах
поэтому добавляем также :after, который вернет верные цвета хедеру и будет закругляться, 
принимая(почти) форму хедера*/
.im-page_classic .im-page--header.ui_search._im_dialogs_search::before,
.im-page_classic .im-page--chat-header._im_dialog_actions::before,
.im-page_classic .im-page--chat-input._im_chat_input_w::before,
.im-page_classic .im-page--header.ui_search._im_dialogs_search::after,
.im-page_classic .im-page--chat-header._im_dialog_actions::after,
.im-page_classic .im-page--chat-input._im_chat_input_w::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -1;
	/*z-index ломается на хедерах, но у вк внутри хедера 
    ЛЕЖИТ ЗАКРЕПЛЕННОЕ СООБЩЕНИЕ и after захуяривает его в белый, 
    поэтому убираем назад эту гомоеблю, освобождая более-менее нормальные компоненты диалогов*/
}

/*ставим бефору цвет фона страницы, дабы скрыть вк-шный кринж*/
.im-page_classic .im-page--header.ui_search._im_dialogs_search::before,
.im-page_classic .im-page--chat-header._im_dialog_actions::before,
.im-page_classic .im-page--chat-input._im_chat_input_w::before {
	background-color: var(--vkui--color_background);
}

/*ставим афтеру цвет хедера/футера*/
.im-page_classic .im-page--header.ui_search._im_dialogs_search::after,
.im-page_classic .im-page--chat-header._im_dialog_actions::after,
.im-page_classic .im-page--chat-input._im_chat_input_w::after {
	background-color: var(--vkui--color_background_content);
}

/*закругляем after на хедере*/
.im-page_classic .im-page--header.ui_search._im_dialogs_search::after,
.im-page_classic .im-page--chat-header._im_dialog_actions::after {
	border-radius: var(--round_radius) var(--round_radius) 0 0;
}

/*закругляем after на футере*/
.im-page_classic .im-page--chat-input._im_chat_input_w::after {
	border-radius: 0 0 var(--round_radius) var(--round_radius);
}

/*убираем ориг покраску хедера так как от нее БЛЯТЬ АРТЕФАКТЫ КАКИЕ ТО АХАХАХХА*/
.im-page_classic .im-page--chat-header,
.im-page_classic .im-page--header,
.im-page_classic .im-page--chat-header-in,
.im-page_classic ._im_chat_input_w {
	background: var(--vkui--color_background) !important;
	/*не transparent, потому что на хроме артефачит))*/
}

/*фикс в сообщениях групп*/

.im-page_classic.im-page_group .im-page--header.ui_search._im_dialogs_search::after {
	background: unset;
}

.im-page_classic.im-page_group .im-page--dialogs-search {
	background: var(--vkui--color_background_content) !important;
}

.bookmark_tag {
	border-radius: var(--round_radius) !important;
}

.video_thumb_label {
	border-radius: var(--round_radius) !important;
}

.VideoPlaylistItem__thumbWrap {
	border-radius: var(--round_radius) !important;
}

.js-video_tc_upload_btn {
	border-radius: var(--round_radius) !important;
}

.js-video_tc_item {
	border-radius: var(--round_radius) !important;
}

.videocat_featured_0,
.videocat_featured_1,
.videocat_featured_2 {
	border-radius: var(--round_radius) !important;
}

.video_thumb_label_live_icon {
	border-radius: var(--round_radius) !important;
}

/* Мини-чаты */
.chat_tab_wrap,
.chat_tab_icon,
.fc_editable {
	border-radius: var(--round_radius) !important;
}

.chat_onl_inner,
.fc_tab_head {
	border-radius: var(--round_radius) var(--round_radius) 0px 0px !important;
}

.SubmitArea,
.ChatSettingsMembers {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.chat_onl_inner,
.fc_tab_head {
	border-radius: var(--round_radius) var(--round_radius) 0px 0px !important;
}

.PopupHeader__backBtn {
	border-top-left-radius: var(--round_radius) !important;
}

.popup_box_container {
	border-radius: var(--round_radius) !important;
}

.EditableLabel:hover .EditableLabel__text {
	border-radius: var(--round_radius) !important;
}

.pv_cont .pv_author_block {
	border-radius: 0 var(--round_radius) 0 0 !important;
}

.pv_cont .narrow_column {
	border-radius: 0 var(--round_radius) var(--round_radius) 0 !important;
}

#pv_narrow > .ui_scroll_overflow {
	border-radius: 0 var(--round_radius) 0 0 !important;
}

#pv_reply_form > .reply_box,
.reply_form,
.pv_cont .pv_reply_form_wrap {
	border-radius: 0 0 var(--round_radius) 0 !important;
}

.photos_photo_edit_row_desc_placeholder,
.photos_photo_edit_row_desc_cont {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.GiftsStickerPackPreviewTooltip__button {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

[dir] .im-audio-message-input.im-chat-input_classic {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.audio_pl_attach_preview {
	border-radius: var(--round_radius) !important;
}

.audio_pl_attach_preview__cover {
	border-radius: var(--round_radius) 0 0 var(--round_radius) !important;
}

.tickets_post_field {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.tickets_suggests_wrap,
.tickets_suggest {
	border-radius: var(--round_radius) !important;
}

.audio_w_covers .audio_row .audio_row__cover_back {
	border-radius: var(--round_radius) !important;
}

.submit_post_box[id*="video"] > .reply_form {
	border-radius: 0 0 0 var(--round_radius) !important;
}

#mv_player_box > .video_box_wrap {
	border-radius: var(--round_radius) 0 0 0 !important;
}

.wall_archive_link_block {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

#feed_new_posts {
	border-radius: var(--round_radius) var(--round_radius) 0 0 !important;
}

.ReportForm--reportCategorySelectionStage > .ReportForm__content {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.ReportForm--reportCompositionStage > .ReportForm__content {
	border-radius: 0 !important;
}

.ReportForm--afterSubmitStage > .ReportForm__content {
	border-radius: var(--round_radius) !important;
}

.ui_thumb_x_button {
	border-radius: 0 var(--round_radius) 0 var(--round_radius) !important;
}

.VideoRecomsItem__duration {
	border-radius: var(--round_radius) 0 var(--round_radius) 0 !important;
}

/*костыли для скрытия белых углов в разных местах*/
.ap_layer__content {
	background-color: transparent !important;
}

.audio_pl_snippet2.audio_pl__has_thumb {
	border-top-left-radius: 15px !important;
}

.TemplatesDropDown__scroll-wrapper > .ui_scroll_overflow {
	border-radius: var(--round_radius) !important;
}

.TemplatesDropDown__container {
	border-radius: var(--round_radius) !important;
}

#wl_reply_form_inner > .submit_post_box > .reply_form {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.replies_wrap > .reply_box_wrap > .reply_box_inner_wrap > .reply_box > .reply_form {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

._audio_page_content_block > .page_block_h2 {
	border-radius: 0 !important;
}

#post_upload_dropbox,
.post_upload_dropbox_inner {
	border-radius: var(--round_radius) !important;
}

.audio_page_player__cover {
	border-radius: var(--round_radius) !important;
}

.CallHistoryScreenCreateCall {
	border-radius: var(--round_radius) !important;
}

.CallHistoryListItem--dropdownItemStatus {
	border-radius: var(--round_radius) !important;
}

.CallHistoryList,
.CallHistoryScreenLanding--pageBlock {
	border-radius: var(--round_radius) !important;
}

.CallParticipantList__input {
	border-radius: 0 !important;
}

.reply_fakebox {
	border-radius: var(--round_radius) !important;
}

#gft_bx_dd.wdd_focused {
	border-radius: var(--round_radius) var(--round_radius) 0 0 !important;
}

#gft_bx_dd {
	border-radius: var(--round_radius) !important;
}

.gift_text {
	border-radius: var(--round_radius) !important;
}

.GiftSnippetContent__button {
	border-radius: var(--round_radius) !important;
}

#market_reply_form .reply_form {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.ChatSettingsInvitationLink {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.fl_r ._audio_page_layout ._audio_page_content_block .page_block_h2 {
	border-radius: var(--round_radius) var(--round_radius) 0 0 !important;
}

.audio_section .CatalogSection__user_playlists,
.audio_section .CatalogSection__user_list {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.audio_friend:hover {
	border-radius: var(--round_radius) !important;
}

.composer_wdd[id^="im_editable"] .wdd_list,
.composer_wdd[id^="im_editable"] .ui_scroll_content,
.composer_wdd[id^="im_editable"] .ui_scroll_overflow {
	border-radius: var(--round_radius) var(--round_radius) 0 0 !important;
}

.page_attach_progress.ui_progress,
.ui_progress_back,
.ui_progress_bar {
	border-radius: var(--round_radius) !important;
}

.im_mention_shown .im-chat-input--txt-wrap,
.im_mention_shown .im_editable {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.ReplyBoxDonut {
	border-radius: 0 0 var(--round_radius) var(--round_radius) !important;
}

.PagePostLimitedThumbBlurredBackground {
	border-radius: var(--round_radius) !important;
}

.DonutLinkSnippet {
	border-radius: var(--round_radius) !important;
}

.im-mess.im-mess_fav-search:hover {
	border-radius: var(--round_radius) !important;
}

#im_dialogs > .ui_scroll_overflow {
	border-radius: 0 !important;
}

#im-page--chat-body-abs .ui_scroll_overflow {
	border-radius: 0 !important;
}

.top_notify_cont .ui_scroll_overflow {
	border-radius: 0 !important;
}

.PagePostLimitedThumb {
	border-radius: var(--round_radius) !important;
}

.PagePostLimitedThumbBlurredBackgroundOverlay::after {
	border-radius: var(--round_radius) !important;
}

.im-page--chat-body-abs .ui_scroll_overflow {
	border-radius: 0 !important;
}

.im-page:not(.im-page_classic) .im-page--dialogs {
	border-radius: var(--round_radius) 0 0 var(--round_radius) !important;
}

.im-page:not(.im-page_classic) .im-page--history {
	border-radius: 0 var(--round_radius) var(--round_radius) 0 !important;
}

.im-page:not(.im-page_classic) .im-chat-input {
	border-radius: 0 0 var(--round_radius) 0 !important;
}
