/* Альтернативный скроллбар */

body {
	--vklScroll: var(--scrollbar_background, var(--vkui--color_background_content));
	--vklScrollThumb: var(--scrollbar_thumb, var(--button_secondary_background_highlighted));
}

::-webkit-scrollbar {
	background-color: var(--vklScroll);
	width: 16px;
}

::-webkit-scrollbar-track {
	background-color: var(--vklScroll);
}

::-webkit-scrollbar-thumb {
	background-color: var(--vklScrollThumb);
	border-radius: 16px;
	border: 4px solid var(--vklScroll);
}

::-webkit-scrollbar-button {
	display: none;
}
